@using ShopBanHang.Models
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2 style="text-align:center">THÔNG TIN ĐƠN HÀNG</h2>
<table align="center" border="1">
    <tr style="text-align:center; font-weight:bold;">
        <td>Mã Giày</td>
        <td>Tên Giày</td>
        <td>Ảnh Minh Họa</td>
        <td>Số lượng</td>
        <td>Đơn Giá &nbsp;</td>
        <td>&nbsp; Thành Tiền</td>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td align="center">@item.iMaGiay</td>
            <td align="center">@item.sTenGiay</td>
            <td><img src="~/ImgGiay/@item.sAnhBia" style="width:100px;" /></td>
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { iMaGiay = item.iMaGiay }))
            {
                <td align="center">
                    <input type="number" min="1" name="txtSoLuong" value="@item.iSoLuong" style="background-color:#f4ff94" />
                </td>
                <td align="center">@string.Format("{0:#,##0,0}", @item.dDonGia)</td>
                
                <td align="center">@string.Format("{0:#,##0,0}", @item.dThanhTien)</td>
                
                <td><a href="@Url.Action("ChiTietGiay","Giay", new { id = item.iMaGiay})">  &nbsp; Chi tiết &nbsp;  </a></td>
                
                <td>@Html.ActionLink("Xóa", "XoaGioHang", new { @iMaGiay = item.iMaGiay }) &nbsp;</td>
                <td>             <input type="submit" value="Cập nhật" />         </td>
            }
        </tr>
    }
    <tr>
        <td colspan="4" style="text-align:right; color:red;font-weight:bold;padding-right:5px;">
            Tổng Số Lượng :@string.Format("{0:#,##0}", @ViewBag.TongSoLuong)
        </td>
        <td colspan="5" style="text-align:right; color:red;font-weight:bold;">
            Tổng Tiền :@string.Format("{0:#,##0}", @ViewBag.TongTien) VND
        </td>
    </tr>
    <tr style="font-weight:bold; color:blue; text-align:right;">
        <td colspan="9">
            @Html.ActionLink("Xóa giỏ hàng", "XoaGioHang")
        </td>
    </tr>
    <tr style="font-weight:bold; color:blue; text-align:center;">
        <td colspan="9">
            @Html.ActionLink("Đặt Hàng", "DatHang", "GioHang")
        </td>
    </tr>
</table>


