@model ShopBanHang.Models.giay

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý thông tin Giày</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="https://localhost:44358/Admin">Trang Chủ</a></li>
                        <li class="breadcrumb-item active">HOME</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Xin chào bạn đến với trang Thêm Sản Phẩm Giày</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <p>
                    Hãy kiểm tra thật kỹ trước khi chỉnh sửa !
                </p>

                @using (Html.BeginForm("Create", "Sach", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">Tên sách:</label>
                            <div class="col-md-10">
                                <input type="text" size="70" name="sTenSach" value="@ViewBag.TenSach" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Mô tả:</label>
                            <div class="col-md-10">
                                <textarea name="sMoTa">@ViewBag.MoTa</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Ảnh bìa:</label>
                            <div class="col-md-10">
                                <input type="file" name="fFileUpload" />
                                @ViewBag.ThongBao
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Ngày cập nhật:</label>
                            <div class="col-md-10">
                                <input type="date" name="dNgayCapNhat" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Số lượng:</label>
                            <div class="col-md-10">
                                <input type="number" min="1" required name="iSoLuong" value="@ViewBag.SoLuong" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Giá bán:</label>
                            <div class="col-md-10">
                                <input type="number" min="1" required name="mGiaBan" value="@ViewBag.GiaBan" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Chủ đề:</label>
                            <div class="col-md-10">
                                @Html.DropDownList("MaCD")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Nhà xuất bản:</label>
                            <div class="col-md-10">
                                @Html.DropDownList("MaNXB")
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Thêm mới" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
                <div>
                    @Html.ActionLink("VỀ TRANG QUẢN LÝ", "Index")
                </div>
            </div>
        </div>
    </section>
</div>
