@model ShopBanHang.Models.khachhang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý thông tin Khách Hàng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="https://localhost:44358/Admin">Trang Chủ</a></li>
                        <li class="breadcrumb-item active">HOME</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Xin chào bạn đến với Điều chỉnh thông tin khách hàng </h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <p>
                    Hãy kiểm tra thật kỹ trước khi chỉnh sửa !
                </p>
                @using (Html.BeginForm("Edit", "KhachHang", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">Tên khách hàng:</label>
                            <div class="col-md-10">
                                <input type="text" size="70" name="sHoTenKH" value="@Model.HoTenKH" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Địa chỉ khách hàng:</label>
                            <div class="col-md-10">
                                <input type="text" size="70" name="sDiaChiKH" value="@Model.DiaChiKH" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Số điện thoại:</label>
                            <div class="col-md-10">
                                <input type="text" size="11" name="sDienThoaiKH" value="@Model.DienThoaiKH" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Tên đăng nhập:</label>
                            <div class="col-md-10">
                                <input type="text" size="70" name="sTenDN" value="@Model.TenDN" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Mật khẩu:</label>
                            <div class="col-md-10">
                                <input type="password" size="70" name="sMatKhau" value="@Model.MatKhau" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Ngày sinh:</label>
                            <div class="col-md-10">
                                <input type="datetime" name="sNgaySinh" value="@Model.NgaySinh" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Giới tính:</label>
                            <div class="col-md-10">
                                <select class="form-control" name="sGioiTinh">
                                    <option hidden>@Model.GioiTinh</option>
                                    <optgroup label="Lựa chọn giới tính mới:">
                                        <option>True</option>
                                        <option>False</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Email:</label>
                            <div class="col-md-10">
                                <input type="email" size="20" name="sEmail" value="@Model.Email" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="LƯU THÔNG TIN" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
                <div>
                    @Html.ActionLink("VỀ TRANG QUẢN LÝ KHÁCH HÀNG", "Index")
                </div>
            </div>
        </div>
    </section>
</div>

